beautifulsoup4
deep-translator
ebooklib
flask
googletrans
html2text
jpype1
langdetect
lxml[html_clean]
mss
nltk
odfpy
pandas
pillow
Pillow
pydub
pymupdf
pytesseract
python_magic
python-docx
python-magic
python-pptx
readability-lxml
requests
requests-html
rich
six
speechrecognition
tabula-py
uuid
